<h2>{{@kanji.kanji}}</h2>
<div>{{@kanji.kmeaning}}</div>
<div>Grade {{@kanji.kgrade}}</div>
<div>{{@kanji.kunyomi}} {{@kanji.kunyomi_ja}}</div>
<div>{{@kanji.onyomi}} {{@kanji.onyomi_ja}}</div>
{{#each @kanji.examples as |example| }}
<div>{{example}}</div>
{{/each}}